body {
  background: #7dd2c5;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 1080px;
  min-width: 300px;
  height: 100%;
  width: 100%;
  margin: 20px auto 20px auto;
  background: #ffffff;
}

.header {
  background: #007DC2;
  clear: both;
  width: 100%;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}


h1 {
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}


h2 {

}


nav, footer {
  /*clear: both;*/
  color: #ffffff;
  background-color: #3F4D56;
  height: 30px;
  max-width: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}

nav ul {
  padding: 5px 0px 5px 0px;

}

nav li {
  display: inline-block;;
  width: 18%;
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
  /*width: 20%;*/

}

nav li a {
  color: #ffffff;}

nav li a:hover, nav li a.current {
  color: #7dd2c5;}

a {
  text-decoration: none;
}

section#categories {
  clear: both;
  overflow: hidden;
  background: #884b2b;
}

article{
  /*clear:both;*/
  float: left;
}

article.image_tiles {
  width: 46%;
  min-width: 340px;
  /*width: 420px;*/
  height: 400px;
  padding: 1%;
  margin: 1%;
  background-color: #ffffff;
  /*border: 2px solid #3F4D56;*/
  /*border-width: 1%;*/
  border-color: #3F4D56;
}



/*article#Bar_Soap_Tile {
  clear:left;
  float:left;}
article#Liquid_Soap_Tile {
  clear:right;
  float: right;}
article#Boutique_Soap_Tile {
  clear:left;
  float: left;}
article#Hand_Sanitizer_Tile{
  clear:right;
  float: right;}*/
