.wrapper {
  width: 940px;
  margin: 20px auto 20px auto;
  background-color: #ffffff;}

nav, footer {
  clear: both;
  color: #ffffff;
  background-color: #3F4D56;
  height: 30px;}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;}

nav li {
  display: inline;
  margin-right: 40px;}

nav li a {
  color: #ffffff;}

nav li a:hover, nav li a.current {
  color: #7dd2c5;}

article.image_tiles {
  width: 420px;
  height: 400px;
  padding: 20px;
  background-color: #ffffff;
  border: 5px solid #3F4D56;}

article#Bar_Soap_Tile {
  clear:left;
  float:left;}
article#Liquid_Soap_Tile {
  clear:right;
  float: right;}
article#Boutique_Soap_Tile {
  clear:left;
  float: left;}
article#Hand_Sanitizer_Tile{
  clear:right;
  float: right;}

body {
  background-color: #7dd2c5;
}

h1 {
  color: #ffffff;
}

.header {
  background-color: #007DC2;
}

h2 {

}
